@import url('animations.css');

main {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

/*
    REGION: game display
*/

#game-section {
    width: 95%;
    max-width: 800px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 4px dashed rgb(37, 37, 37);
    padding: 10px;
}

#game-section img {
    width: 25vw;
    max-width: 250px;
}

#game-section p {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.image-label {
    display:block;
    color: var(--text-color-translucent);
    margin-top: 5px;
}

#game-message {
    text-decoration: underline;
}

.flipped {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media (max-width: 450px) {
    #game-section {
        flex-flow: row wrap;
    }

    #message-container {
        order: 4;
    }
}

/*
    REGION: input
*/

button {
    padding: 10px;
    margin: 10px;
}

button img {
    width: 15vw;
    max-width: 150px;
    -webkit-user-drag: none;
}

/*
    REGION: scoreboard
*/

#scoreboard-section {
    font-size: 1.4em;
}
